*{
    box-sizing: border-box;
}
html,body{
    padding:0;
    margin:0;
}
header{
    /*background-image: url(https://unsplash.it/1500/650);*/
    background-image: url("./image/aneta-ivanova-776.jpg");
    width: 100%;
    height: 650px;
    background-size:cover;
    color: white;
    padding-top:200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-h1{
    font-size: 80px;
    /*width:11em;*/
    border-right: .05em soild;
    overflow:hidden;
    white-space:nowrap;
    width: 100%;

}
@keyframes typing{
    from {width: 0}
}
@keyframes caret{
    50% { border-color : transparent ;}
}
.header-p p{
    margin:0px auto;
    font-size:20px;
    width: 19em;
    border-right: .05em solid;
    overflow:hidden;
    white-space:nowrap;
    animation: typing 3s steps(19) ,caret 1s steps(1) infinite;
}
nav{
    color:black;
    line-height:20px;
    /*overflow: auto;*/
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    background-color:white;
    z-index: 20;
    height:53px;
}
.menu-header{

    float:left;
    /*height: 30px;*/
    font-size:20px;
    font-weight: bold;
    /*overflow: auto;*/
    padding-left: 20px;
    padding-top:15px;
}
.menu-list{
    padding-right: 20px;
    float:right;
}
.menu-list li{
    display:inline;
    /*padding-left: 20px;*/
    margin:0;
}
.container{
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}
.container h1{
    font-size:30px;
}
#portfolio{
    background-color: #f6f6f6;
    color:black;
}
.box-portfolio{
    padding: 20px;
    float:left;
    width: calc(100%/3);
    position: relative;
    height: 400px;
    overflow:hidden;
}
.box-portfolio-img{
    height: 300px;
    width: 400px;
}
.box-portfolio img{
    height: 100%;
    width: 100%;
}
.box-portfolio:after{
    display: none;
}
.box-portfolio h1{
    display:none;
}
.box-portfolio:hover h1{
    display:block;
    margin: 0;
    padding: 0;
    color: white;
    height: 50px;
    width: 400px;
    text-align: center;
    position: absolute;
    top:140px;
    z-index: 10;
}
.box-portfolio:hover:after{
    content:"";
    display: block;
    width: 400px;
    height: 300px;
    background: #000;
    position: absolute;
    top:20px;
    left: 20px;
    opacity: 0.5;
}
#teammember{
    background-color: #ffffff;
    color:black;
}
.box-member{
    float:left;
    width: calc(100%/4);
    padding: 30px;
}
footer {
    background-image: url("./image/ep_naturalblack.png");
    color: #CBCBCC;
    text-align: center;
}
.box-footer{
    float:left;
    width: calc(100%/3);
    padding:50px;
    padding-left: 100px;
    padding-right: 100px;

}
#profile{
    background-color: #f6f6f6;
    color:black;
}
.profile-right{
    /*border: 5px solid;*/
    float:left;
    width: calc(100%/12*6);
    padding-top: 80px;
}
.profile-left{
    /*border: 5px solid;*/
    float:left;
    width: calc(100%/2);
    text-align: left;
}
a {
    color:black;
    text-decoration:none;
    font-weight: bold;
    font-size: 20px;
    
}
.skill-portfolio{
    float:left;
    width: calc(100%/12*4);
}
ul li
{
list-style-type:none;
}
.slash-box{
    width: 180px;
    height:8px;
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 20px;
}
.slash{
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, transparent, transparent 6px, #f7c331 6px, #f7c331 8px);
}
.box-member img{
    transform: scale(1);
    transition: 1s;
}
.box-member img:hover{
    transform: scale(1.5);
}
    .menu-list a{
    padding:13px;
    background-color: rgba(255,255,255,1);
    transition:background-color 0.5s;
}
    .menu-list a:hover{
	background-color: rgba(255, 173, 51,1);
    }
#footer-bottom{
    background: black;
    height: 100%;
    color:#CBCBCC;
    padding-top:30px;
    padding-bottom:30px;
}
#footer-bottom h3{
    font-size:14px;
    margin:0px;
    padding:5px;
}
#footer-bottom p{
    font-size:10px;
    margin:0px;
}
footer p{
    font-size:14px;
}
footer h1{
    font-size:24px;
}
footer li{
    padding-bottom: 15px;
}

@media screen
    and (max-width:768px){
        .box-portfolio{
            width: 100%;
            overflow: visible;
            overflow: hidden;
        }
        .box-member{
            width:100%;

        }
        .profile-right{
            width: 100%;
            overflow: auto;
            float:center;
        }
        .profile-left{
            width: 100%;
            overflow: auto;
        }
        .box-footer{
            width:100%;
        }
        .skill-portfolio{
            width:100%;
        }
         .menu-list{
             display:none;
         }
         .header-h1{
            font-size:40px;
         }
         .header-p{
             font-size:10px;
         }
         .header-p p{
            font-size:10px;
        }
         @keyframes typing{
             from {width: 0}
            }
            @keyframes caret{
             50% { border-color : transparent ;}
            }
            .header-p p{
        margin:0px auto;
        font-size:10px;
        width: 19em;
        border-right: .05em solid;
        overflow:hidden;
        white-space:nowrap;
        animation: typing 3s steps(19) ,caret 1s steps(1) infinite;
}
    }

@media screen
    and (max-width:991px) and (min-width:768px){
        .box-portfolio{
            width: calc(100%/2);
            overflow:visible;
        }
        .box-member{
            width: calc(100%/2);
            
        }
         .menu-list{
             display:none;
         }
    }